<a href="https://colab.research.google.com/github/mmishra1092/Credit-Card-Default-Prediction/blob/main/MAYANK_MISHRA_Credit_Card_Default_Prediction_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <b><u> Project Title : Predicting whether a customer will default on his/her credit card </u></b>

## <b> Problem Description </b>

### This project is aimed at predicting the case of customers default payments in Taiwan. From the perspective of risk management, the result of predictive accuracy of the estimated probability of default will be more valuable than the binary result of classification - credible or not credible clients. We can use the [K-S chart](https://www.listendata.com/2019/07/KS-Statistics-Python.html) to evaluate which customers will default on their credit card payments

## <b> Data Description </b>

### <b>Attribute Information: </b>

### This research employed a binary variable, default payment (Yes = 1, No = 0), as the response variable. This study reviewed the literature and used the following 23 variables as explanatory variables:
* ### X1: Amount of the given credit (NT dollar): it includes both the individual consumer credit and his/her family (supplementary) credit.
* ### X2: Gender (1 = male; 2 = female).
* ### X3: Education (1 = graduate school; 2 = university; 3 = high school; 4 = others).
* ### X4: Marital status (1 = married; 2 = single; 3 = others).
* ### X5: Age (year).
* ### X6 - X11: History of past payment. We tracked the past monthly payment records (from April to September, 2005) as follows: X6 = the repayment status in September, 2005; X7 = the repayment status in August, 2005; . . .;X11 = the repayment status in April, 2005. The measurement scale for the repayment status is: -1 = pay duly; 1 = payment delay for one month; 2 = payment delay for two months; . . .; 8 = payment delay for eight months; 9 = payment delay for nine months and above.
* ### X12-X17: Amount of bill statement (NT dollar). X12 = amount of bill statement in September, 2005; X13 = amount of bill statement in August, 2005; . . .; X17 = amount of bill statement in April, 2005.
* ### X18-X23: Amount of previous payment (NT dollar). X18 = amount paid in September, 2005; X19 = amount paid in August, 2005; . . .;X23 = amount paid in April, 2005.

# Loading Dataset and Importing Packages

In [1]:
# Import all the necessary libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Mount the drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Upload data path
working_path = '/content/drive/MyDrive/Module: 4/Week_4/Capstone Project: Supervised ML: Classification/default of credit card clients.xls'

In [23]:
# Read data
credit_data_df = pd.read_excel(working_path,header=1)

# Dataset Information and Summary

In [24]:
# View first 5 rows of dataset
credit_data_df.head()

   ID  LIMIT_BAL  SEX  ...  PAY_AMT5  PAY_AMT6  default payment next month
0   1      20000    2  ...         0         0                           1
1   2     120000    2  ...         0      2000                           1
2   3      90000    2  ...      1000      5000                           0
3   4      50000    2  ...      1069      1000                           0
4   5      50000    1  ...       689       679                           0

[5 rows x 25 columns]

In [25]:
# View last 5 rows of dataset
credit_data_df.tail()

          ID  LIMIT_BAL  SEX  ...  PAY_AMT5  PAY_AMT6  default payment next month
29995  29996     220000    1  ...      5000      1000                           0
29996  29997     150000    1  ...         0         0                           0
29997  29998      30000    1  ...      2000      3100                           1
29998  29999      80000    1  ...     52964      1804                           1
29999  30000      50000    1  ...      1000      1000                           1

[5 rows x 25 columns]

In [26]:
# Lets know the shape of dataset
credit_data_df.shape

(30000, 25)

In [27]:
# Get all the features of dataset
credit_data_df.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month'],
      dtype='object')

In [29]:
# View all the information summary about the dataset
credit_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          30000 non-null  int64
 1   LIMIT_BAL                   30000 non-null  int64
 2   SEX                         30000 non-null  int64
 3   EDUCATION                   30000 non-null  int64
 4   MARRIAGE                    30000 non-null  int64
 5   AGE                         30000 non-null  int64
 6   PAY_0                       30000 non-null  int64
 7   PAY_2                       30000 non-null  int64
 8   PAY_3                       30000 non-null  int64
 9   PAY_4                       30000 non-null  int64
 10  PAY_5                       30000 non-null  int64
 11  PAY_6                       30000 non-null  int64
 12  BILL_AMT1                   30000 non-null  int64
 13  BILL_AMT2                   30000 non-null  int64
 14  BILL_AMT3                   30000 non-null  int64
 15  BILL_AMT4                   30000 non-null  int64
 16  BILL_AMT5                   30000 non-null  int64
 17  BILL_AMT6                   30000 non-null  int64
 18  PAY_AMT1                    30000 non-null  int64
 19  PAY_AMT2                    30000 non-null  int64
 20  PAY_AMT3                    30000 non-null  int64
 21  PAY_AMT4                    30000 non-null  int64
 22  PAY_AMT5                    30000 non-null  int64
 23  PAY_AMT6                    30000 non-null  int64
 24  default payment next month  30000 non-null  int64
dtypes: int64(25)
memory usage: 5.7 MB

In [31]:
# Check the unique values
credit_data_df.nunique()

ID                            30000
LIMIT_BAL                        81
SEX                               2
EDUCATION                         7
MARRIAGE                          4
AGE                              56
PAY_0                            11
PAY_2                            11
PAY_3                            11
PAY_4                            11
PAY_5                            10
PAY_6                            10
BILL_AMT1                     22723
BILL_AMT2                     22346
BILL_AMT3                     22026
BILL_AMT4                     21548
BILL_AMT5                     21010
BILL_AMT6                     20604
PAY_AMT1                       7943
PAY_AMT2                       7899
PAY_AMT3                       7518
PAY_AMT4                       6937
PAY_AMT5                       6897
PAY_AMT6                       6939
default payment next month        2
dtype: int64

In [35]:
# Check the description of the dataset
credit_data_df.describe().T

                              count           mean  ...        75%        max
ID                          30000.0   15000.500000  ...   22500.25    30000.0
LIMIT_BAL                   30000.0  167484.322667  ...  240000.00  1000000.0
SEX                         30000.0       1.603733  ...       2.00        2.0
EDUCATION                   30000.0       1.853133  ...       2.00        6.0
MARRIAGE                    30000.0       1.551867  ...       2.00        3.0
AGE                         30000.0      35.485500  ...      41.00       79.0
PAY_0                       30000.0      -0.016700  ...       0.00        8.0
PAY_2                       30000.0      -0.133767  ...       0.00        8.0
PAY_3                       30000.0      -0.166200  ...       0.00        8.0
PAY_4                       30000.0      -0.220667  ...       0.00        8.0
PAY_5                       30000.0      -0.266200  ...       0.00        8.0
PAY_6                       30000.0      -0.291100  ...       0.00        8.0
BILL_AMT1                   30000.0   51223.330900  ...   67091.00   964511.0
BILL_AMT2                   30000.0   49179.075167  ...   64006.25   983931.0
BILL_AMT3                   30000.0   47013.154800  ...   60164.75  1664089.0
BILL_AMT4                   30000.0   43262.948967  ...   54506.00   891586.0
BILL_AMT5                   30000.0   40311.400967  ...   50190.50   927171.0
BILL_AMT6                   30000.0   38871.760400  ...   49198.25   961664.0
PAY_AMT1                    30000.0    5663.580500  ...    5006.00   873552.0
PAY_AMT2                    30000.0    5921.163500  ...    5000.00  1684259.0
PAY_AMT3                    30000.0    5225.681500  ...    4505.00   896040.0
PAY_AMT4                    30000.0    4826.076867  ...    4013.25   621000.0
PAY_AMT5                    30000.0    4799.387633  ...    4031.50   426529.0
PAY_AMT6                    30000.0    5215.502567  ...    4000.00   528666.0
default payment next month  30000.0       0.221200  ...       0.00        1.0

[25 rows x 8 columns]

**Insights:** Tha dataset has 30000 observations and 25 features.

*   default payment next month is our target variable

# Features Description:

*   ID : Id of every client.
*   LIMIT_BAL: Amount of the given credit (NT dollar): includes both the individual consumer credit and his/her family (supplementary) credit.
*   SEX: Gender (1 = male; 2 = female).
*   EDUCATION: 1 = graduate school; 2 = university; 3 = high school; 4 = others.
*   MARRIAGE: Marital status (1 = married; 2 = single; 3 = others).
*   AGE: Age (year)

Scale of PAY_0 to PAY_6:



(-2 = No consumption, -1 = paid in full, 0 = use of revolving credit (paid minimum only), 1 = payment delay for one month, 2 = payment delay for two months, ... 8 = payment delay for eight months, 9 = payment delay for nine months and above)


*   PAY_0: Repayment status in sep,2005 (scale same as above)
*   PAY_2: Repayment status in Aug,2005 (scale same as above)
*   PAY_3: Repayment status in July,2005 (scale same as above)
*   PAY_4: Repayment status in June,2005 (scale same as above)
*   PAY_5: Repayment status in May,2005 (scale same as above)
*   PAY_6: Repayment status in April,2005 (scale same as above)

*   BILL_AMT1: Amount of bill in sep,2005(NT dollar)
*   BILL_AMT2: Amount of bill in Aug,2005(NT dollar)
*   BILL_AMT3: Amount of bill in July,2005(NT dollar)
*   BILL_AMT4: Amount of bill in June,2005(NT dollar)
*   BILL_AMT5: Amount of bill in May,2005(NT dollar)
*   BILL_AMT6: Amount of bill in April,2005(NT dollar)


*   PAY_AMT1: Amount of previous statement in sep,2005(NT dollar)
*   PAY_AMT2: Amount of previous statement in Aug,2005(NT dollar)
*   PAY_AMT3: Amount of previous statement in July,2005(NT dollar)
*   PAY_AMT4: Amount of previous statement in June,2005(NT dollar)
*   PAY_AMT5: Amount of previous statement in May,2005(NT dollar)
*   PAY_AMT1: Amount of previous statement in April,2005(NT dollar)


*   default.payment.next.month: Default payment (1=yes, 0=no)

Our dataset has the observations of past 6 months of credit card transaction.

# Data Preprocessing

In [37]:
# Check the missing value
credit_data_df.isnull().sum()

ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default payment next month    0
dtype: int64



*   There are no null values present in our dataset

In [42]:
# Check duplicate values
len(credit_data_df[credit_data_df.duplicated()])

0

Insight: There are no duplicate and null values present in our dataset